<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>BIENVENIDO A SAP</title>
</head>
<body>
    <h1>Sistema de Administracion de Personas (SAP)</h1>
    <div><a href="nueva_persona">Agregar Persona</a></div>
    <h2>Numero de personas disponible en la base de datos: {{cont}}</h2>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for persona in personas %}
                <tr>
                    <td>{{persona.id}}</td>
                    <td>{{persona.nombre}} {{persona.apellido}}</td>
                    <td>{{persona.email}}</td>
                    <td><a href="detalle_persona/{{persona.id}}">Ver detalle</a></td>
                    <td><a href="editar_persona/{{persona.id}}">Editar Persona</a></td>
                    <td><a href="eliminar_persona/{{persona.id}}">Eliminar Persona</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>